<!-- siricrm/templates/realtime/partials/toast.html-->

<div id="toast-container" hx-swap-oob="afterbegin">
  <div
    class="alert alert-{{ level }} text-white shadow-lg flex items-center gap-2"
    style="background-color: rgba(31, 193, 34, 0.51);"
    data-toast="1"
  >
    <span class="flex-1 text-sm">
      {{ text }}
    </span>
    <button
      type="button"
      class="btn btn-xs btn-circle btn-ghost text-white"
      aria-label="Закрыть"
      data-toast-close="1"
    >
      ✕
    </button>
  </div>
</div>